aiodns==2.0.0
aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
async-timeout==3.0.1
cchardet==2.1.7
dataclasses==0.6
elasticsearch==7.11.0
fake-useragent==0.1.11
filelock==3.15.4
fsspec==2024.6.1
geographiclib==1.50
geopy==2.1.0
googletransx==2.4.2
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
mpmath==1.3.0
multidict==5.1.0
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.82
nvidia-nvtx-cu12==12.1.105
pandas==2.0.3
pycares==3.1.1
python-dateutil==2.9.0.post0
python-socks==1.2.2
pytz==2024.1
schedule==1.0.0
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sympy==1.13.1
threadpoolctl==3.5.0
torch==2.3.1
triton==2.3.1
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
typing_extensions==4.12.2
tzdata==2024.1
yarl==1.6.3
